#main_content {
    width: 100%;
}

.half_content {
    display: inline-block;
    float: left;
    width: 50%;
    height: auto;
    min-height: 100px;
    margin: 0;
    padding: 0;
}

#courses_title, #course_details_title {
    width: 100%;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

#courses_table, #sets_table, #add_courses {
    width: calc(100% - 22px);
    display: inline-block;
    float: left;
    font-size: 1.1rem;
    margin: 0 10px;
    padding: 0;
    border: 1px solid #323232;
}

#sets_table_no_results {
    width: calc(100% - 10px);
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 32px;
    font-size: 0.9rem;
    padding-left: 10px
}

#add_courses {
    height: 32px;
    line-height: 32px;
    margin-top: 10px;
}

#add_courses_input_div, #add_courses_input, #add_courses_button {
    height: 100%;
    display: inline-block;
    float: left;
}

#add_courses_input_div {
    width: calc(100% - 101px);
}
#add_courses_button {
    width: 100px;
    cursor: pointer;
    font-size: 1.1rem;
    line-height: 32px;
    background: transparent;
    text-align: center;
    border-left: 1px solid #CCC;
}

#add_courses_button:hover {
    background: #a4ef76;
}

#add_courses_input {
    background: transparent;
    margin: 0;
    border: none;
}

.course_row, .set_row {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: calc(100% - 10px);
    height: 32px;
    line-height: 32px;
    font-size: 0.9rem;
    cursor: pointer;
    background: transparent;
    border-bottom: 1px solid #CCC;
}

.course_row.bottom, .set_row.bottom {
    border-bottom: none;
}

.course_row:hover, .set_row:hover {
    background: #a4ef76;
}

.set_title {
    display: inline-block;
    float: left;
    width: calc(100% - 100px);
    height: 100%;
}

.set_button {
    display: inline-block;
    float: left;
    width: 100px;
    height: 100%;
    text-align: center;
}

.set_button:hover {
    background: #FF8282;
}

#course_button {
    width: calc(100% - 22px);
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 32px;
    font-size: 1.0rem;
    text-align: center;
    margin: 10px;
    padding: 0;
    user-select: none;
    background: transparent;
    cursor: pointer;
    border: 1px solid #323232;
}

#course_button:hover {
    background: #a4ef76;
}

#add_sets_div {
    width: calc(100% - 22px);
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 32px;
    font-size: 1.0rem;
    margin: 10px;
    padding: 0;
    background: transparent;
    border: 1px solid #323232;
}

#add_sets_select {
    width: calc(100% - 101px);
    display: inline-block;
    float: left;
    height: 32px;
    margin: 0;
    padding: 0;
    line-height: 32px;
    font-size: 0.9rem;
    background: transparent;
    outline: none;
    border: none
}

#add_sets_button {
    width: 100px;
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 32px;
    font-size: 1.0rem;
    text-align: center;
    cursor: pointer;
    background: transparent;
    border-left: 1px solid #CCC;
}

#add_sets_button:hover {
    background: #a4ef76;
}
#course_details {
    display: none;
}
