/*Portal home*/

#menuContainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.menuobject{
    display: inline-block;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: #323232;
    background-repeat: no-repeat;
    background-size: 400px 200px;
    background-position: 0px;
}

.light{
    background: #525252;
    background-repeat: no-repeat;
    background-size: 400px 200px;
    background-position: 0px;
}

.menuobject:hover{
    background-position: -200px; // ?
}

.menuobject a.title{
    position: absolute; 
    left: 0px;
    right: 0px;
    bottom: 8px;
    line-height: 40px;
    color: #EEE;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
}

.menuobject:hover a.title{
    color: #66E11B;
}