/*Portal home*/

#menuContainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.menuobject{
    display: inline-block;
    width: 200px;
    height: 250px;
    margin: 10px 30px;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.first{
    margin-left: 130px;
}

.menuobject img{
    width: 100%;
    height: calc(100% - 50px);
}

.menuobject a.title{
    position: absolute; 
    left: 0px;
    right: 0px;
    bottom: 0px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
}

.menuobject a img{
    
}