.fullSection
{
    width: 100%;
    margin-top: 20px;
}
.sectionSummary
{
    display: block;
    width: 100%;
    background: transparent;
    border: thin solid #323232;
    cursor: pointer;
}

.sectionSummaryDetails
{
    display: inline-block;
    width: 100%;
    background: transparent;
    height: 60px;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.sectionSummaryDetails h2
{
    line-height: 60px;
    margin-left: 20px;
    width: calc(100%-40px);
    font-weight: 400;
}

.sectionSummaryButtons
{
    display: inline-block;
    width: 0%;
    background: transparent;
    height: 60px;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.sectionSummaryDetailsText
{
    display: inline-block;
    width: calc(100% - 40px);
    height: 60px;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

.sectionSummaryShowHideButton
{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    background-image: url("../images/plusminus.png");
    background-repeat: no-repeat;
    background-size: 100px 25px;
    background-position: -75px;
}

.sectionSummaryShowHideButton:hover
{
    background-position: -50px;
}

.sectionSummaryShowHideButton.minus
{
    background-position: -25px;
}

.sectionSummaryShowHideButton.minus:hover
{
    background-position: 0px;
}

.sectionMain
{
    width: calc(100% - 20px);
    display: block;
    margin: 0px;
    padding: 10px;
    background: transparent;
    border: thin solid #323232;
    border-top: none;
    cursor: pointer;
}

#variablesInputBoxDetails
{
    width: 80%;
}

#variablesInputBoxButtons
{
    width: 20%;
}

#generateReportButton
{
    width: 100%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    background: transparent;
    height: 60px;
    text-align: center;
    font-size: 1.3rem;
    border: none;
    border-left: thin solid #323232;
    border-radius: 0px;
}

#generateReportButton:hover
{
    background: #c2f4a4;
    color: #323232;
}

/*General table set up*/

table.form
{
  width: 100%;
  margin: 0px auto;
  border: 0px solid;
  color: #000;
  border-collapse: collapse;
  background: transparent;
}

td.form
{
  height: 32px;
  margin: 0px;
  width: 33%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.9rem;
  font-weight: normal;
  color: #323232;
  }

tr.form
{ background: transparent; }

tr.form:nth-child(even) {
    background-color: transparent;
}

tr.form:hover
{ background: transparent;
  cursor: pointer; }

tr.form:nth-child(even):hover {
    background-color: transparent;
}

table.results {
    width: 100%;
    border: 1px solid #323232;
    border-collapse: collapse;
}

table.half {
    width: calc(50% - 2px);
    display: inline-block;
    float: left;
    margin-left:  -1px;
}

td.results {
    line-height: 30px;
    font-size: 0.9rem;
    padding-left: 0px;
    text-align: center;
}

th.results
{
  background: #323232;
  color: #66E11B;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  /* width:  100%; */
}

tr.results
{ 
    background: #EEE;width:  100%;margin-left: 0px;margin-right: 0px;
}

tr.results:nth-child(even) 
{
    background-color: #DDD;
}

tr.results:nth-child(even):hover, tr.results:hover
{
    background-color: #c2f4a4;
}

tr.lowrel
{
    color: #AAA;
}

thead.results {
    width: 800px;
}

#details{
    background: transparent;
    margin-bottom: 0px;
    margin-top: -1px;
    padding: 5px;
    padding-top:  10px;
    border: 1px solid #323232;
    display: inline-block;
    width: calc(100% - 10px);
}

input[type="text"], input[type="password"], input[type="submit"], select, textarea{
    display: inline-block;
    font: normal 'Open Sans', sans-serif;
    line-height: 32px;
    height: 32px;
    width: calc(100% - 177px);
    background: transparent;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 5px;
    border: 1px solid #323232;
    font-size: 0.9rem;
    color: #323232;
    outline: none;
    text-align: left;
    vertical-align: top;
}

textarea{
    width: calc(100% - 176px);
    height: 80px;
    margin-left: 0px;
}

p.details{
    display: inline-block;
    padding: 0px;
    padding-left: 10px;
    width: calc(100%-160px);
    margin: 0px;
    margin-bottom: 10px;
}

select {
   width: 100%;
   background: transparent;
   height: 32px;
   margin: 0px;
   margin-left: 1px;
   margin-bottom: 10px;
}

label {
    display: inline-block;
    background: transparent;
    width: 150px;
    height:32px;
    line-height: 32px;
    font-size: 0.9rem;
    font-weight: bolder;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

.dateLeft, .dateRight{
    display: inline-block;
    width: 50%;
    float: left;
}

.dateRight input[type="text"]{
    margin-right: 0px;
    float: right;
}

#tagsReportShort{
    display: block;
    width: calc(100% + 4px);
}

#tagsReportShort:after{
    content: "";
    display: block;
    clear: both; 
}


#tagsReportFull{
    height: 500px;
    overflow-y: scroll;
    border-bottom: thin solid #323232;
    width: 100%;
}

table.fullResults{
    border: none;
}

.fullSection{
    border: thin solid #323232;
    border-bottom: none;
}

#tagsReportSummary{
    border: none;
    border-bottom: solid thin #323232;
}

#tagsReportSpinner{
    border-bottom: solid thin #323232;
}

#noResults{
    text-align: center; 
    margin-top: 20px;
    display: none;
}

.spinnerBox{
    display: block;
    width: 100%;
    height: 100px;
}

.sectionWrapper{
    display: block;
    width: 100%;
    border: thin solid #323232;
    margin-top: 20px;
    min-height: 40px;
    height: auto;
}

.innerSectionWrapper{
    display: block;
    width: 100%;
    min-height: 20px;
    border-top: thin solid #323232;
    height: 100%;
}

.innerSectionWrapper:after{
    content: "";
    display: block;
    clear: both;
}

.top{
    border-top: none;
}

#worksheetSummaryDetails, #summaryReportSetAvg, #summaryReportUserAvg{
    display: inline-block;
    min-height: 20px;
    height: 100%;
    float: left;
}

#worksheetSummaryDetails{
    width: 50%;
    cursor: pointer;
}

#worksheetSummaryDetails p{
    padding-left: 20px;
    padding-top: 5px;
    font-size: 1rem;
}

#summaryReportDetails{
    display: none;
}

#summaryReportSetAvg, #summaryReportUserAvg{
    width: 25%;
}

#summaryReportSetAvg p, #summaryReportUserAvg p{
    font-size: 1.3rem;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
}

#summaryReportSetAvg h1, #summaryReportUserAvg h1{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 0px;
}

.worksheetSummaryTable{
    width: 100%;
    border-collapse: collapse;
}

thead.worksheetSummaryTable{
    text-align: center;
    font-size: 1rem;
}

tbody.worksheetSummaryTable{
    text-align: center;
    font-size: 0.9rem;
}

tr.worksheetSummaryTable{
    line-height: 25px;
}

tr.worksheetSummaryTable:nth-child(odd){
    background-color: #DDD;
}

.worksheetName{
    text-align: left;
    padding-left: 10px;
}

tr.tableHead:nth-child(odd){
    background-color: transparent;
}

.noResults{
    color: #AAA;
    font-style: italic;
}

#worksheetSummaryDetailsTable{
    width: 100%;
    float: left;
    border-collapse: collapse;
}

#worksheetSummaryDetailsTable td{
    padding-left: 10px;
    padding-right: 10px;
}

#tableTitleRow{
    font-size: 1rem;
    text-align: center;
}

.green, .orange, .red, .grey{
    font-weight: bold;
    font-size: 1rem;
}

.green{
    color: #00CC00;
}

.orange{
    color: #e68a00;
}

.red{
    color: #CC0000;
}

.grey{
    color: #AAA;
}

#questionsSummaryDetailsTable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    position: relative;
    padding-top:  20px;
}

#questionsSummaryDetailsTable th
{
  background: #323232;
  color: #66E11B;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  text-align: center;
}

#questionsSummaryDetailsTable th.worksheetName, #questionsSummaryDetailsTable td.worksheetName
{
  text-align: left;
  padding-left: 10px;
}

#questionsSummaryDetailsTable tr
{ 
    background: #EEE;
    width:  100%;
    margin-left: 0px;
    margin-right: 0px;
}

#questionsSummaryDetailsTable tr:nth-child(even) 
{
    background-color: #DDD;
}

#questionsSummaryDetailsTable tr:nth-child(even):hover, #questionsSummaryDetailsTable tr:hover
{
    background-color: #c2f4a4;
}

#questionsSummaryDetailsTable td, #questionsSummaryDetailsTable a 
{
    line-height: 30px;
    font-size: 0.9rem;
    padding-left: 0px;
    text-align: center;
    color: #323232;
    font-weight: normal;
}

#questionsReport{
    margin-top: 20px;
    margin-bottom: 20px;
}
