th, td
{ 
    height: auto;
    padding-left: 0px;
}

td {
    cursor: default;
}

table
{
    margin: 0px auto;
}

tr:nth-child(even) {
    background-color: transparent;
}

tr:hover, tr:nth-child(even):hover {
    background-color: transparent;
}

.fullSection
{
    width: 100%;
    margin-top: 20px;
}
.sectionSummary
{
    display: block;
    width: 100%;
    background: transparent;
    border: thin solid #323232;
    cursor: pointer;
}

.sectionSummaryDetails
{
    display: inline-block;
    width: 100%;
    background: transparent;
    height: 60px;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.sectionSummaryDetails h2
{
    line-height: 60px;
    margin-left: 20px;
    width: calc(100%-40px);
    font-weight: 400;
}

.sectionSummaryButtons
{
    display: inline-block;
    width: 0%;
    background: transparent;
    height: 60px;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.sectionSummaryDetailsText
{
    display: inline-block;
    width: calc(100% - 40px);
    height: 60px;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

.sectionSummaryShowHideButton
{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    background-image: url("../images/plusminus.png");
    background-repeat: no-repeat;
    background-size: 100px 25px;
    background-position: -75px;
}

.sectionSummaryShowHideButton:hover
{
    background-position: -50px;
}

.sectionSummaryShowHideButton.minus
{
    background-position: -25px;
}

.sectionSummaryShowHideButton.minus:hover
{
    background-position: 0px;
}

.sectionMain
{
    width: calc(100% - 20px);
    display: block;
    margin: 0px;
    padding: 10px;
    background: transparent;
    border: thin solid #323232;
    border-top: none;
    cursor: pointer;
}

#variablesInputBoxDetails
{
    width: 80%;
}

#variablesInputBoxButtons
{
    width: 20%;
}

#generateReportButton
{
    width: 100%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    background: transparent;
    height: 60px;
    text-align: center;
    font-size: 1.3rem;
    border: none;
    border-left: thin solid #323232;
    border-radius: 0px;
}

#generateReportButton:hover
{
    background: #c2f4a4;
    color: #323232;
}

/*General table set up*/

table.form
{
  width: 100%;
  margin: 0px auto;
  border: 0px solid;
  color: #000;
  border-collapse: collapse;
  background: transparent;
}

td.form
{
  height: 32px;
  margin: 0px;
  width: 33%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.9rem;
  font-weight: normal;
  color: #323232;
  }

tr.form
{ background: transparent; }

tr.form:nth-child(even) {
    background-color: transparent;
}

tr.form:hover
{ background: transparent;
  cursor: pointer; }

tr.form:nth-child(even):hover {
    background-color: transparent;
}

table.results {
    width: 100%;
    border: 1px solid #323232;
    border-collapse: collapse;
}

table.half {
    width: calc(50% - 2px);
    display: inline-block;
    float: left;
    margin-left:  -1px;
}

td.results {
    line-height: 30px;
    font-size: 0.9rem;
    padding-left: 0px;
    text-align: center;
}

th.results
{
  background: #323232;
  color: #66E11B;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  /* width:  100%; */
}

tr.results
{ 
    background: #EEE;width:  100%;margin-left: 0px;margin-right: 0px;
}

tr.results:nth-child(even) 
{
    background-color: #DDD;
}

tr.results:nth-child(even):hover, tr.results:hover
{
    background-color: #c2f4a4;
}

tr.lowrel
{
    color: #AAA;
}

thead.results {
    width: 800px;
}

#details{
    background: transparent;
    margin-bottom: 0px;
    margin-top: -1px;
    padding: 5px;
    padding-top:  10px;
    border: 1px solid #323232;
    display: inline-block;
    width: calc(100% - 10px);
}

input[type="text"], input[type="password"], input[type="submit"], select, textarea{
    display: inline-block;
    font: normal 'Open Sans', sans-serif;
    line-height: 32px;
    height: 32px;
    width: calc(100% - 177px);
    background: transparent;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 5px;
    border: 1px solid #323232;
    font-size: 0.9rem;
    color: #323232;
    outline: none;
    text-align: left;
    vertical-align: top;
}

textarea{
    width: calc(100% - 176px);
    height: 80px;
    margin-left: 0px;
}

p.details{
    display: inline-block;
    padding: 0px;
    padding-left: 10px;
    width: calc(100%-160px);
    margin: 0px;
    margin-bottom: 10px;
}

select {
   width: 100%;
   background: transparent;
   height: 32px;
   margin: 0px;
   margin-left: 1px;
   margin-bottom: 10px;
}

label {
    display: inline-block;
    background: transparent;
    width: 150px;
    height:32px;
    line-height: 32px;
    font-size: 0.9rem;
    font-weight: bolder;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

.dateLeft, .dateRight{
    display: inline-block;
    width: 50%;
    float: left;
}

.dateRight input[type="text"]{
    margin-right: 0px;
    float: right;
}

#tagsReportShort{
    display: block;
    width: calc(100% + 4px);
}

#tagsReportShort:after{
    content: "";
    display: block;
    clear: both; 
}


#tagsReportFull{
    height: 500px;
    overflow-y: scroll;
    border-bottom: thin solid #323232;
    width: 100%;
}

table.fullResults{
    border: none;
}

.fullSection{
    border: thin solid #323232;
    border-bottom: none;
}

#tagsReportSummary{
    border: none;
    border-bottom: solid thin #323232;
}

#tagsReportSpinner{
    border-bottom: solid thin #323232;
}

#noResults{
    text-align: center; 
    margin-top: 20px;
    display: none;
}

.spinnerBox{
    display: block;
    width: 100%;
    height: 100px;
}

.sectionWrapper{
    display: block;
    width: 100%;
    border: thin solid #323232;
    margin-top: 20px;
    min-height: 40px;
    height: auto;
}

.innerSectionWrapper{
    display: block;
    width: 100%;
    min-height: 20px;
    border-top: thin solid #323232;
    height: 100%;
}

.innerSectionWrapper:after{
    content: "";
    display: block;
    clear: both;
}

.top{
    border-top: none;
}

#worksheetSummaryDetails, #summaryReportSetAvg, #summaryReportUserAvg{
    display: inline-block;
    min-height: 20px;
    height: 100%;
    float: left;
}

#worksheetSummaryDetails{
    width: 50%;
    cursor: pointer;
}

#worksheetSummaryDetails p{
    padding-left: 20px;
    padding-top: 5px;
    font-size: 1rem;
}

#summaryReportDetails{
    display: none;
}

#worksheetSummaryReport{
    display: none;
    height: 150px;
}

#summaryReportSetAvg, #summaryReportUserAvg{
    width: 25%;
}

#summaryReportSetAvg p, #summaryReportUserAvg p{
    font-size: 1.3rem;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
}

#summaryReportSetAvg h1, #summaryReportUserAvg h1{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 0px;
}

.worksheetSummaryTable{
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

thead.worksheetSummaryTable{
    text-align: center;
    font-size: 1rem;
}

tbody.worksheetSummaryTable{
    text-align: center;
    font-size: 0.9rem;
}

tr.worksheetSummaryTable{
    line-height: 25px;
    cursor: pointer;
}

tr.worksheetSummaryTable:nth-child(odd){
    background-color: #DDD;
}

tr.worksheetSummaryTable:hover {
    background-color: #c2f4a4;
}

.worksheetSummaryTable td, .worksheetSummaryTable th{
    text-align: center;
    cursor: pointer;
}

th {
    font-weight: 300;
}

.worksheetName{
    text-align: left !important;
    padding-left: 10px;
}

tr.tableHead:nth-child(odd){
    background-color: transparent;
}

.noResults{
    color: #AAA;
    font-style: italic;
}

#worksheetSummaryDetailsTable{
    width: 100%;
    float: left;
    border-collapse: collapse;
}

#worksheetSummaryDetailsTable td{
    padding-left: 10px;
    padding-right: 10px;
}

#tableTitleRow, #tableTitleRow td{
    font-size: 1rem;
    text-align: center;
}

.green, .orange, .red, .grey{
    font-weight: bold;
    font-size: 1rem;
}

.green{
    color: #00CC00;
}

.orange{
    color: #e68a00;
}

.red{
    color: #CC0000;
}

.grey{
    color: #AAA;
}

#questionsSummaryDetailsTable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    position: relative;
    padding-top:  20px;
}

#questionsSummaryDetailsTable th
{
  background: #323232;
  color: #66E11B;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  text-align: center;
}

#questionsSummaryDetailsTable th.worksheetName, #questionsSummaryDetailsTable td.worksheetName
{
  text-align: left;
  padding-left: 10px;
}

#questionsSummaryDetailsTable tr
{ 
    background: #EEE;
    width:  100%;
    margin-left: 0px;
    margin-right: 0px;
}

#questionsSummaryDetailsTable tr:nth-child(even) 
{
    background-color: #DDD;
}

#questionsSummaryDetailsTable tr:nth-child(even):hover, #questionsSummaryDetailsTable tr:hover
{
    background-color: #c2f4a4;
}

#questionsSummaryDetailsTable td, #questionsSummaryDetailsTable a 
{
    line-height: 30px;
    font-size: 0.9rem;
    padding-left: 0px;
    text-align: center;
    color: #323232;
    font-weight: normal;
}

#questionsReport{
    margin-top: 20px;
    margin-bottom: 20px;
}

#showHideWorksheetText {
    color: #888;
    cursor: pointer;
}

#showHideWorksheetText:hover {
    color: #323232;
}

#new_tags_report {
    border-bottom: thin solid #323232;
}

#body {
    margin-bottom: 100px;
}

.report_notes_title {
    width: 100%;
    height: 32px;
    margin: 0;
    background: #323232;
}

.report_notes_title > h1 {
    font-size: 1.3rem;
    color: #66E11B;
    text-align: center;
    padding: 0;
    line-height: 32px;
    font-weight: 300;
}

.report_notes_notes {
    height: 100%;
    width: 100%;
    margin: 0;
}

.report_note {
    height: 100%;
    min-height: 60px;
    width: 100%;
    border-bottom: 1px solid #323232;
}

.note_details {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #AAA;
}

.note_details_date, .note_details_name {
    width: 100px;
    height: 100%;
    display: inline-block;
    float: left;
    margin: 0;
}

.note_details_date {
    padding-left: 10px;
}

.note_details_date > p, .note_details_name > p {
    text-align: left;
    line-height: 30px;
    font-size: 0.9rem;
    padding: 0;
}

.note_details_name {
    width: calc(100% - 110px);
}

.note_text {
    padding: 5px 10px;
}

.note_text > p {
    padding: 0;
}

#new_tags_report_spinner {
    display: none;
}

#new_tags_report_main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tags_report_section {
    width: calc(33.3333% - 0.6666px);
    height: 100%;
    display: inline-block;
    float: left;
    overflow: scroll;
}

#new_tags_report_classification {
    border-right: 1px solid #323232;
}

#new_tags_report_major {
    border-right: 1px solid #323232;
}

#new_tags_report_minor {
}

.new_tag {
    width: 100%;
    height: 30px;
    cursor: pointer;
    border-bottom: thin solid rgba(0,0,0,0.5);
}

.classification {
    background: rgba(27, 175, 249, 0.5);
}

.major {
    background: rgba(249, 90, 27, 0.5);
}

.minor {
    background: rgba(249, 209, 27, 0.5);
}

.background_block, .background_block_worksheet {
    height: 100%;
    display: inline-block;
    float: left;
    background: rgba(27, 175, 249, 1); 
}

.background_block.classification {
    background: rgba(27, 175, 249, 1);
}

.background_block.major {
    background: rgba(249, 90, 27, 1);
}

.background_block.minor {
    background: rgba(249, 209, 27, 1);
}

.tag_content {
    width: 100%;
    height: 100%;
    display: inline-block;
    float: left;
    margin-top: -30px;
}

.tag_content_name {
    width: calc(100% - 80px);
    height: 100%;
    display: inline-block;
    float: left;
    padding-left: 10px;
    overflow: hidden;
}

.tag_content_main_display {
    width: 60px;
    height: 100%;
    display: inline-block;
    float: left;
}

.tag_content_main_display > p {
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    text-align: center;
}

.tag_content_name > p {
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.tag_content_main_extra {
    width: 25%;
    height: 100%;
    display: none;
    float: left;
}

.tag_content_tags_string {
    display: none;
    float: left;
    height: 100%;
    width: calc(100% - 10px);
    padding-left: 10px;
    text-align: left;
}

.tag_content_tags_string > p {
    line-height: 30px;
    font-size: 0.9rem;
}

p.smaller {
    font-size: 0.7rem;
}

p.two_lines {
    line-height: 15px;
    font-size: 0.7rem;
}

.tag_content_main_extra_value, .tag_content_main_extra_writing {
    width: 100%;
    height: 20px;
    display: inline-block;
    float: left;
}

.tag_content_main_extra_value > p, .tag_content_main_extra_writing > p {
    padding: 0;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.tag_content_main_extra_writing {
    height: 10px;
}

.tag_content_main_extra_writing > p {
    font-size: 0.5rem;
    font-weight: bold;
    line-height: 10px;
}

.tag_content:hover .tag_content_name, 
.tag_content:hover .tag_content_main_display  {
    display: none;
}

.tag_content:hover .tag_content_main_extra,
.tag_content:hover .tag_content_tags_string {
    display: inline-block;
}

.new_tags_report_titles {
    width: 100%;
    height: 50px;
    background: #323232;
}

.new_tags_report_title {
    width: 33.3333%;
    height: 100%;
    display: inline-block;
    float: left;
}

.new_tags_report_sections {
    width: 100%;
    height: 300px;
}

.new_tags_report_title_top, .new_tags_report_title_bottom {
    width: 100%;
    height: 50%;
}

.new_tags_report_title_bottom {
    cursor: pointer;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.new_tags_report_title_top > h1 {
    font-size: 1.2rem;
    color: #66E11B;
    text-align: center;
    padding: 0;
    line-height: 25px;
    font-weight: 300;
}

.new_tags_report_title_bottom_criteria > h2, .new_tags_report_title_bottom_order > h2 {
    font-size: 1.0rem;
    color: #66E11B;
    text-align: center;
    padding: 0;
    line-height: 25px;
    font-weight: 300;
}

.new_tags_report_title_bottom_criteria > h2 {
    text-align: right;
}

.new_tags_report_title_bottom_criteria {
    display: inline-block;
    float: left;
    width: calc(100% - 20px);
}

.new_tags_report_title_bottom_order {
    display: inline-block;
    float: left;
    width: 20px;
}

table.ind_worksheet {
    border-bottom: 1px solid #323232;
}

td.ind_worksheet {
    border-right: 1px solid #323232;
}

.half_column_report {
    width: calc(50% - 0.5px);
    height: 100%;
    max-height: 400px;
    display:inline-block;
    float: left;
    overflow-y: scroll;
}

#new_worksheets_report {
    border-right: #323232 1px solid;
}

.title_sections {
    width: calc(25% - 0.75px);
    height: 100%;
    float: left;
    text-align: center;
    background: #EEE;
    color: #323232;
    cursor: pointer;
    border-right: 1px solid #323232;
}

.title_sections.selected, .title_sections.selected:hover {
    background: #323232;
    color: #66E11B;
}

.title_sections:hover {
    background: #888;
}

.title_sections.nosection:hover {
    background: #EEE;
}

.title_sections > h1 {
    font-size: 1.0rem;
    line-height: 25px;
    margin: 0;
}

.report_column_title {
    width: 100%;
    height: 50px;
    background: #323232;
    color: #66E11B;
}

.report_column_title_top, .report_column_title_bottom {
    width: 100%;
    height: 50%;
}

.report_column_title_top > h1 {
    font-size: 1.2rem;
    color: #66E11B;
    text-align: center;
    padding: 0;
    line-height: 25px;
    font-weight: 300;
}

.new_worksheets_report_criteria {
    display: inline-block;
    float: left;
    width: calc(100% - 20px);
}

.new_worksheets_report_order {
    display: inline-block;
    float: left;
    width: 20px;
}

.new_worksheets_report_criteria > h2, .new_worksheets_report_order > h2 {
    font-size: 1.0rem;
    color: #66E11B;
    text-align: center;
    padding: 0;
    line-height: 25px;
    font-weight: 300;
}

.new_worksheets_report_criteria > h2 {
    text-align: right;
}

.report_column_main {
    width: 100%;
    height: calc(100% - 50px);
}

.worksheet_summary {
    background: #eee;
}

.background_block_worksheet {
    background: #a4ef76;
}

.background_block_worksheet.selected {
    background: #66E11B;
}

#new_worksheets_report_title_bottom {
    cursor: pointer;
}

p.medium_worksheet_name {
    font-size: 0.9rem;
}

p.long_worksheet_name {
    font-size: 0.75rem;
}

#new_worksheet_placeholder {
    margin: 50px auto 0px auto;
    width: 60%;
    height: 100px;
    text-align: center;
}

#new_worksheet_placeholder > p {
    font-size: 1.0rem;
    font-weight: bold;
}

#report_notes_notes {
    max-height: 250px;
    overflow-y: scroll;
}