/*Markbook*/
body {
    height: auto;
}

table {
    border-color: #323232;
}

td {
    height: 32px;
}

td.marks {
    padding: 0px;
    text-align: center;
    cursor: default;
}

table {
    width: auto;
    overflow: visible;
    float: left;
    border-color: #000;
}

td, th {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background: transparent;
    border: none;
}

td.name {
    min-width: 180px;
    max-width: 300px;
    width: 200px;
    cursor: pointer;
    user-select: none;
}

td.date {
    text-align: center;
    cursor:pointer;
    padding-left: 0px;
}

td.date:hover {
    color: #a4ef76;
}

td.total_marks {
    text-align: center;
    cursor:default;
    padding-left: 0px;
}

th.rotate {
  height: 200px;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
  padding: 0;
}

th.rotate > div {
  transform:
    translate(0px, -2px)
    rotate(315deg);
  width: 250px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #000;
  font-size: 1.0rem;
  color: #323232;
  font-weight: 700;
  line-height: 40px;
}

th.rotate > div > span:hover {
    color: #a4ef76;
}

th.rotate > div > span {
  margin-left: 0px;
  font-size: 1.0rem;
  color: #323232;
  font-weight: 700;
}

tr.no_hover:hover {
    background-color: transparent;
}

tr.no_hover:nth-child(even):hover {
    background-color: #DDD;
}

td.blank_cell {
    background-color: #EEE;
    border: none;
}

input[type="text"].markInput{
    cursor: default;
}

#main_content {
    width: 100%;
}

#spinner {
    display: inline-block;
    float: left;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

.modal[aria-hidden='true'] { display: none; }

.modal {
    //font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    display: flex;
}

.modal p {
    margin: 0;
    padding: 0;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #323232;
  box-sizing: border-box;
  user-select: none;
}

.modal__title.error {
    color: #f50202;
}

.modal__close {
  background: transparent;
  border: 0;
  outline: none;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
  width: 440px;
}

.modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
    user-select: none;
    outline: none;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #66E11B;
  color: #fff;
}

.modal__btn.hidden {
    display: none;
}
