body {
    height: auto;
}

#main_content {
    width: 100%;
}

a, a:hover, a:focus {
    color: #333;
    font-weight: 400;
    text-decoration: none;
    outline: none;
}

.main_content div {
    display: inline-block;
    float: left;
    position: relative;
}

#worksheets_jstree {
    width: 100%;
}

.jstree-default .jstree-node {
    min-height: 28px;
    line-height: 28px;
}

.jstree-default .jstree-anchor, .jstree-default .jstree-icon {
    height: 28px;
    line-height: 28px;
}

.jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl {
    background-position: -32px -2px;
}

.jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl {
    background-position: -2px -2px;
}

.jstree-default .jstree-anchor {
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Open Sans',Arial,sans-serif;
    user-select: none;
    width: calc(100% - 24px);
}

.jstree-default .jstree-hovered {
    background: #a4ef76!important;
}
.jstree-default .jstree-context {
    background: #a4ef76!important;
}
.jstree-default .jstree-clicked {
    background: #66E11B!important;
}

/*.jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl {
    background-position: 0px 0px!important;
}*/

#all_worksheets_div, #personal_worksheets_div {
    width: calc(100% - 2px);
    height: auto;
    border: 1px solid #323232;
    margin-bottom: 20px;
}

#all_worksheets_top_bar,
#all_worksheets_top_buttons,
#all_worksheets_favourites_bar {
    height: 30px;
    width: 100%;
    border-bottom: 1px solid gray;
}

#all_worksheets_favourites_bar.hidden {
    display: none;
}

#all_worksheets_content, #personal_worksheets_div_content {
    width: 100%;
    height: auto;
}

#all_worksheets_content {
    min-height: 200px;
    max-height: 1000px;
    overflow-y: scroll;
}

#all_worksheets_top_bar.hidden {
    display: none;
}

#all_worksheets_top_bar a, #selected_worksheet_filetree a {
    line-height: 30px;
    font-size: 0.9rem;
}

.folder_display_div {
    padding: 0 10px;
    height: 29px;
    cursor: pointer;
    user-select: none;
    line-height: 30px;
    font-size: 0.9rem;
    background: transparent;
}

.folder_display_div:hover {
    background: lightgray;
}

.folder_display_div.favourite_title:hover {
    background: transparent;
}

.folder_display_span {
    display: inline-block;
    float: left;
    height: 29px;
    line-height: 30px;
    padding: 0 2px;
}

#selected_worksheet_filetree > .folder_display_div {
    height: 25px;
    line-height: 25px;
}

#selected_worksheet_filetree > .folder_display_span {
    height: 25px;
    line-height: 25px;
}

.all_worksheets_top_button {
    width: 25%;
    height: 29px;
    cursor: pointer;
    background: transparent;
    text-align: center;
    font-size: 0.9rem;
    line-height: 30px;
    user-select: none;
}

.all_worksheets_top_button:hover {
    background: lightgray;
}

.modal[aria-hidden='true'] { display: none; }

.modal {
    //font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    display: flex;
}

.modal p {
    margin: 0;
    padding: 0;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #323232;
  box-sizing: border-box;
  user-select: none;
}

.modal__title.error {
    color: #f50202;
}

.modal__close {
  background: transparent;
  border: 0;
  outline: none;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
  width: 440px;
}

#input_modal-content, #new_results_content {
    display: inline-block;
    float: left;
    width: 440px;
    height: auto;
    margin: 10px 0;
}

#input_modal_input, #new_results_input, #input_modal_input_2_label, #input_modal_input_2 {
    display: inline-block;
    float: left;
    width: 440px;
    height: 30px;
    margin: 10px 0;
    line-height: 30px;
}

#input_modal_input_2 {
    width: calc(100% - 100px);
}

#input_modal_input_2_label {
    width: 100px;
    font-size: 16px;
    font-weight: 400;
    user-select: none;
}

.modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
    user-select: none;
    outline: none;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #66E11B;
  color: #fff;
}

#input_modal_text, #new_results_text {
    display: block;
    color: black;
}

#input_modal_text > p, #new_results_text > p {
    margin: 0;
    padding: 0;
}

#input_modal_text.hidden, #new_results_text.hidden {
    display: none;
}

#input_modal_text.error, #new_results_text.error {
    color: #f50202;
}

.nav-tabs>li {
    height: 30px;
    width: 33.333%;
    text-align: center;
    margin: 0;
}

.nav-tabs>li>a {
    line-height: 30px;
    padding: 0 10px;
    margin: 0;
    font-size: 0.9rem;
    color: #323232;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    font-weight: 400;
}

.nav-tabs>li>a:focus, .nav-tabs>li>a:hover,
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #323232;
    background: lightgray;
    border: none;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.nav-tabs>li>a.right {
    border-right: none !important;
}

.tab-content {
    width: 100%;
}

.tab-content>.tab-pane {
    display: none;
    width: 100%;
    padding: 10px;
}

.tab-content>.active {
    display: block;
}

#search_bar {
    height: 32px;
    display: inline-block;
    float: left;
    width: calc(100% - 2px);
    background: lightgray;
    border: 1px solid #323232;
}

#search_bar_text {
    background: transparent;
    width: calc(100% - 58px);
    height: 30px;
    float: left;
    display: inline-block;
    margin: 0;
}

#search_bar_cancel {
    background-image: url("/images/error_light.png");
    background-size: cover;
    width: 16px;
    height: 16px;
    float: left;
    display: inline-block;
    margin: 7px 10px 7px 0;
    cursor: pointer;
}

#search_bar_cancel:hover {
    background-image: url("/images/error.png");
}

#search_bar_button {
    background-image: url("/images/search.png");
    background-size: cover;
    width: 20px;
    height: 20px;
    float: left;
    display: inline-block;
    margin: 5px 5px 5px 0;
    cursor: pointer;
}

#search_bar input {
    background: transparent;
    width: calc(100% - 30px);
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 20px 0 10px;
    border: none;
    font: normal 100% 'Open Sans', sans-serif;
    font-size: 1.0rem;
    font-weight: 300;
}

#search_results {
    margin-top: 15px;
}

.worksheet_table {
    width: 100%;
    border: 1px solid #323232;
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.no_results {
    border: none !important;
    font-size: 1rem;
    text-align: center;
    font-style: italic;
}

.no_worksheet {
    width: 100%;
    padding: 10px;
    line-height: 30px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    font-style: italic;
}

.worksheet_result {
    display: inline-block;
    float: left;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 0.9rem;
    padding-left: 10px;
    cursor: pointer;
    background: transparent;
    border-bottom: 1px solid lightgray;
}

.worksheet_result.last {
    border-bottom: none;
}

.worksheet_result:hover {
    background: #a4ef76;
}

.worksheet_result_name {
    width: calc(100% - 120px);
}

.worksheet_result_date {
    width: 120px;
    text-align: center;
}

#selected_worksheet {
    padding: 0;
}

.selected_worksheet_pane {
    width: calc(70% - 1px);
    height: 180px;
    border-right: 1px solid  gray;
}

.selected_worksheet_pane.last {
    width: 30%;
    border-right: none;
}

.selected_worksheet_title, #selected_worksheet_filetree {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 0.9rem;
    padding: 0 10px;
}

#selected_worksheet_filetree {
    padding: 0;
    height: 25px;
    line-height: 25px;
}

.selected_worksheet_title {
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}

.selected_worksheet_title.results {
    text-align: center;
    border-bottom: 1px solid gray;
    user-select: none;
}

.selected_worksheet_subpane {
    width: 60%;
    border-right: 1px solid lightgray;
    user-select: none;
}

.selected_worksheet_subpane.last {
    width: 40%;
    border-right: none;
}

.selected_worksheet_info {
    height: 25px;
    width: 100%;
    border-top: 1px solid lightgray;
    user-select: none;
}

.selected_worksheet_info > .selected_worksheet_info_label,
.selected_worksheet_info > .selected_worksheet_info_value {
    width: 70%;
    padding: 0 10px;
    line-height: 25px;
    font-size: 0.8rem;
}

.selected_worksheet_info > .selected_worksheet_info_value {
    width: 30%;
}

.selected_worksheet_button {
    display: inline-block;
    text-decoration: none;
    color: #323232;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 100%;
    border-top: 1px solid lightgray;
    cursor: pointer;
    font-weight: 400;
}

.selected_worksheet_button.last {
    height: 26px;
    border-bottom: 1px solid lightgray;
}

.selected_worksheet_button:hover {
    background: lightgray;
    color: #323232;
    text-decoration: none;
}

.selected_worksheet_button.add:hover, .all_worksheets_top_button.add:hover {
    background: #a4ef76;
}

.selected_worksheet_button.remove:hover, .all_worksheets_top_button.remove:hover {
    background: #ff9999;
}

.selected_worksheet_results {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 155px;
}

.selected_worksheet_result {
    display: inline-block;
    float: left;
    width: 100%;
    text-align: center;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    background: transparent;
    border-bottom: 1px solid lightgray;
    user-select: none;
    color: #333;
    font-weight: 400;
    text-decoration: none;
}

.selected_worksheet_result:hover, .new_results_section_result:hover {
    background: lightgray;
}

#new_results_content {
    display: inline-block;
    float: left;
    width: 100%;
    user-select: none;
    margin-bottom: 20px;
}

#new_results_text {
    display: inline-block;
    float: left;
    width: 100%;
    text-align: justify;
    margin-bottom: 10px;
}

.new_results_section {
    display: inline-block;
    float: left;
    width: 55%;
    padding: 0px;
    padding-right: 10px;
    padding-left: 0px;
}

.new_results_section.right {
    width: 45%;
    padding-right: 0px;
    padding-left: 10px;
}

.new_results_section_title {
    display: inline-block;
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 1.0rem;
    text-align: center;
}

.new_results_section_results {
    display: inline-block;
    float: left;
    width: 100%;
    height: 125px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid lightgray;
    border-radius: 3px;

}

.new_results_section_result {
    display: inline-block;
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
    cursor: pointer;
    background: transparent;
    border-bottom: 1px solid lightgray;
    height: 25px;
    line-height: 25px;
    color: #333;
    font-weight: 400;
    text-decoration: none;
}

.jstree-icon {
    float: left;
}

.left_span {
    float: left;
}

.right_span {
    margin-right: 10px;
    float: right;
}
