**/.DS_Store
nbproject/private/private.properties
nbproject/project.properties
nbproject/project.xml
nbproject/private/private.xml
includes/config.ini
includes/spanishConfig.ini
public_html/error_log
public_html/test.php
public_html/request_tests/
public_html/spanish.php
php.ini
public_html/phpinfo.php
.htaccess
